body {
    background-color: #f2f2f2;
    font-family: Lato;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Raleway;
    font-weight: 300;
    color: #333;
}
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 18px;
}
.btn-group.mg-btm-1em {
    margin-bottom: 1em;
}
.ss-form-entry {
    margin-bottom: 1em;
}
ul.ss-choices {
    padding-left: 0;
}
.ss-form-entry.s-form-text {
    border-bottom: 1px dotted #fff;
    width: 100%;
    min-width: 200px;
    max-width: 900px;
    display: -webkit-flex;
}
.centered {
    text-align: center;
}
.goright {
    text-align: right;
}
.mt {
    padding-top: 25px;
}
.white-text {
    color: #fff;
}
.main-img {
    width: 32em;
    margin-top: 12em;
}
.marg-left-6 {
    margin-left: 6em;
}

.well {
    padding: 8px 19px 0 19px;
}
input.btn {
    border-radius: 3;
}
a {
    color: #16a085;
    word-wrap: break-word;
    -webkit-transition: color .1s ease-in, background .1s ease-in;
    -moz-transition: color .1s ease-in, background .1s ease-in;
    -ms-transition: color .1s ease-in, background .1s ease-in;
    -o-transition: color .1s ease-in, background .1s ease-in;
    transition: color .1s ease-in, background .1s ease-in;
}
a:hover, a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}
a:before, a:after {
    -webkit-transition: color .1s ease-in, background .1s ease-in;
    -moz-transition: color .1s ease-in, background .1s ease-in;
    -ms-transition: color .1s ease-in, background .1s ease-in;
    -o-transition: color .1s ease-in, background .1s ease-in;
    transition: color .1s ease-in, background .1s ease-in;
}
.auth-box2 h3 {
    color: #fff;
}
.auth-box2 p {
    font-weight: 400;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.btn {
    border-radius: 0;
}
.btn-green {
    color: #fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
    font-weight: 300;
}
.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active, .open .dropdown-toggle.btn-green {
    color: #fff;
    background-color: #16a085;
    border-color: #16a085;
    font-weight: 300;
}
.tm {
    font-size: 14px;
    line-height: 20px;
}
.menu {
    position: fixed;
    right: -200px;
    width: 260px;
    height: 100%;
    top: 0;
    z-index: 10;
    text-align: left;
}
.menu.menu-open {
    right: 0;
}
.menu-wrap {
    position: absolute;
    top: 0;
    left: 60px;
    background: #1a1a1a;
    width: 200px;
    height: 100%}
.menu h1.logo a {
    font-family: Raleway, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: .15em;
    line-height: 40px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 20px;
}
.menu h1.logo a:hover {
    color: #1abc9c;
}
.menu img.logo {
    margin: 20px 0;
    max-width: 160px;
}
.menu a {
    margin-left: 20px;
    color: gray;
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: .1em;
    text-transform: uppercase;
}
.menu a:hover {
    color: #fff;
}
.menu a:active {
    color: #fff;
}
.menu a>i {
    float: left;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 25px;
    font-size: 14px;
    line-height: 40px;
    margin: 25px 2px;
}
.menu-close {
    cursor: pointer;
    display: block;
    position: absolute;
    font-size: 14px;
    color: gray;
    width: 40px;
    height: 40px;
    line-height: 40px;
    top: 20px;
    right: 5px;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.menu-close:hover {
    color: #fff;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.body-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}
.body-push-toright {
    left: 200px;
}
.body-push-toleft {
    left: -200px;
}
.menu, .body-push {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
#menuToggle {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 11;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    background: rgba(0, 0, 0, .25);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
#menuToggle:hover {
    color: #fff;
    background: rgba(0, 0, 0, .2);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.headerwrap {
    /*background: url(../img/header-bg1.jpg) no-repeat center top;*/
    background: url(../img/apicon-hackathon.jpg) no-repeat center top fixed;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 750px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.headerwrap h1 {
    margin-top: 130px;
    color: #fff;
    font-size: 118px;
    font-weight: 700;
    letter-spacing: 3px;
}
.headerwrap h2 {
    color: #fff;
    font-size: 45px;
    font-weight: 100;
    letter-spacing: 2px;
    margin-bottom: .5em;
}
.headerwrap h3 {
    color: #fff;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 2px;
}
.headerwrap i {
    font-size: 35px;
    color: #fff;
}
.headerwrap .spacer {
    margin-top: 220px;
}
#mapwrap {
    margin: 0;
    padding: 0;
}
#applywrap {
    background: url(../img/services-bg.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#applywrap h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 150px;
}
#aboutwrap {
    background: url(../img/about-bg.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#aboutwrap h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 150px;
}
#portwrap {
    background: url(../img/portfolio-bg.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#portwrap h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 150px;
}

/*div#sp {
    background: url("../img/40085.jpg") fixed;
    background-size: cover;
    background-position: center center;
    margin-top: 25px;
    padding-top: 35px;
    padding-bottom: 35px;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    background:url('../img/edubg.png') fixed;/*
    /*background: url(../img/apicon-hackathon.jpg) no-repeat center top fixed;
    background-size: cover;
    background-position: center center;
    margin-top: 25px;
    padding-top: 35px;
    padding-bottom: 35px;
}*/

/*#splayer {
    background-color: rgba(248, 247, 216, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/
div#sp {
    /*width: 100%;*/
    /*height: 100%;*/
    display: block;
    position: relative;
    background: url(../img/40085.jpg) fixed;
    background-position: center center;
    background-size: cover;
}

div#sp::before {
    content: "";
    background-color: rgba(24, 150, 150, 0.75);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
#sp h2 {
    color: #fff;
}
#sp-standout {
    background: url(../img/sp-standout-bg.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a.main-btn {
    margin-top: 1em;
    margin-right: .5em;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    background: clear;
    color: #fff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    /* border: none; */
    -webkit-appearance: none;
    -moz-appearance: none;
    /* text-decoration: none; */
    border: 2px solid #fff;
    text-transform: uppercase;
    /* max-width: 236px; */
    /* cursor: pointer; */
    transition-duration: .4s;
}
a.apply-btn {
    padding: 15px;
}

/* =========================================================================
                            Social Links
   =======================================================================*/
.top-left-social {
    position: fixed;
    left: 1em;
    top: 1em;
}
.top-left-social > * {
    margin-left: 1em;
}

a.volunteer-btn {
    padding: 15px 51px;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 860px) {
    .marg-left-6 {
        margin-left: 0em;
    }
    .top-left-social > * {
        display: none;
    }

}
a.sponsor-btn-pad {
    padding: 15px 59px;
}
a.main-btn:hover {
    background: rgba(255, 255, 255, 0.6);
    color: black;
    border: 2px solid #fff;
}
.signup-form {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.4);
}
.contact-form {
    border: 1px solid rgba(150, 150, 150, 0.8);
    background-color: rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 07);
}
.sponsor-modal {
    margin-bottom: 1em;
}
#portfolio {
    width: 100%}
#apply {
    /*background: #1abc9c;*/
    background:url('../img/edubg.png') fixed;/* backup clor: 03CFB4 OR 017F6E; */
    /*background: url(../img/apicon-hackathon.jpg) no-repeat center top fixed;*/
    background-size: cover;
    background-position: center center;
    margin-top: 25px;
    padding-top: 35px;
    padding-bottom: 35px;
}
#apply h3 {
    color: #fff;
}
#apply p {
    color: #fff;
}
#apply i {
    color: #fff;
    font-size: 35px;
    margin-top: 22px;
}
#lg {
    background: #ebebeb;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
#lg .desc {
    text-align: left;
}
#call {
    background: #2f2f2f;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
}
#call h3 {
    color: #fff;
}
#call p {
    color: #fff;
}
#sf {
    display: block;
    width: 100%}
#sf .container {
    width: 100%}
#sf .col-lg-4 {
    margin: 0;
    padding: 15px;
}
#sf .lg {
    background-color: #1abc9c;
}
#sf .dg {
    background-color: #16a085;
}
#sf h4 {
    color: #fff;
}
#sf p {
    color: #fff;
}
#sf .ml {
    margin-left: 30px;
}
#sf i {
    font-size: 70px;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
#cf {
    background: #2f2f2f;
}
#cf h4 {
    color: #fff;
    margin-left: 15px;
    margin-top: 15px;
}
#cf p {
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    margin-left: 15px;
}
#cf .container {
    width: 100%}
#cf .col-lg-8 {
    margin: 0;
    padding: 0;
}
.process {
    max-width: 69em;
    list-style: none;
    margin: 30px auto;
    padding: 0;
}
.process li {
    display: block;
    float: left;
    padding: 1px;
    width: 100%;
    opacity: 0;
}
.process li.shown, .no-js .process li, .no-cssanimations .process li {
    opacity: 1;
}
.process li a, .process li img {
    outline: 0;
    border: 0;
    display: block;
    max-width: 100%}
.process.effect-2 li.animate {
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    transform: translateY(200px);
    -webkit-animation: moveUp .65s ease forwards;
    -moz-animation: moveUp .65s ease forwards;
    animation: moveUp .65s ease forwards;
}
@-webkit-keyframes moveUp {
    to {
    -webkit-transform: translateY(0);
    opacity: 1;
}
}@-moz-keyframes moveUp {
    to {
    -moz-transform: translateY(0);
    opacity: 1;
}
}@keyframes moveUp {
    to {
    transform: translateY(0);
    opacity: 1;
}
}#chartwrap {
    width: 100%}
#chartwrap .container {
    margin-left: 0;
    padding-left: 0;
}
#chartwrap h1, #chartwrap p {
    margin-left: 10px;
}
.cardinfo {
    background: #fff;
    padding: 15px;
    margin: 2px;
    text-align: left;
}
.cardinfo i {
    font-size: 18px;
    padding-right: 20px;
}
.grid {
    max-width: 69em;
    list-style: none;
    margin: 30px auto;
    padding: 0;
}
.grid li {
    display: block;
    float: left;
    padding: 7px;
    width: 33%;
    opacity: 0;
}
.grid li.shown, .no-js .grid li, .no-cssanimations .grid li {
    opacity: 1;
}
.grid li a, .grid li img {
    outline: 0;
    border: 0;
    display: block;
    max-width: 100%
}
.grid img {
    opacity: .7;
}
.grid img:hover {
    opacity: 1;
}
.grid.effect-2 li.animate {
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    transform: translateY(200px);
    -webkit-animation: moveUp .65s ease forwards;
    -moz-animation: moveUp .65s ease forwards;
    animation: moveUp .65s ease forwards;
}
@-webkit-keyframes moveUp {
    to {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}
@-moz-keyframes moveUp {
    to {
        -moz-transform: translateY(0);
        opacity: 1;
    }
}
@keyframes moveUp {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* =========================================================================
                            Testing Form Toggles
   =======================================================================*/
/*Panel tabs*/
.panel-tabs {
   /*position: relative;
   bottom: 30px;
   clear:both;
   border-bottom: 1px solid transparent;
*/
}

.panel-tabs > li {
   float: left;
   margin-bottom: -1px;
}

.panel-tabs > li > a {
    padding: 6px;
}
a.hide-right-left-border.btn.btn-default {
border-right: none;
border-left: none;
}

.panel-tabs > li > a:hover {
   border-color: transparent;
   color: #ffffff;
   background-color: transparent;
}

.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
   color: #fff;
   cursor: default;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   background-color: green; /*rgba(255,255,255, .23);*/
}



/* =========================================================================
                            Bootstrap Form
   =======================================================================*/
.margin-top-20 {
    margin-top: 20px;
}
i.fa.fa-bars {
    line-height: 2.8;
}
.fa-arrow-right:before {
    right: -13px;
    position: relative;
}
.auth h1 {
    color:#fff!important;
    font-weight:300;
    font-family: 'Open Sans', sans-serif;
}
.auth h1 span {
    font-size:21px;
    display:block;
    padding-top: 20px;
}
.auth .auth-box legend {
    color: black;
    border:none;
    font-weight:300;
    font-size:24px;
}
.auth2 h1 {
    color:#fff!important;
    font-weight:300;
    font-family: 'Open Sans', sans-serif;
}
.auth2 h1 span {
    font-size:21px;
    display:block;
    padding-top: 20px;
}

.auth2 .auth-box2 legend {
    color: #fff;
    border:none;
    font-weight:300;
    font-size:24px;
}
.auth .auth-box {
    background-color:#fff;
    max-width: 900px;
    margin:0 auto;
/*    border:1px solid rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.9);*/
    margin-top:40px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.32);
    -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.32);
    box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.32);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: background 1s ease-in-out;
    -moz-transition: background 1s ease-in-out;
    -ms-transition: background 1s ease-in-out;
    -o-transition: background 1s ease-in-out;
    transition: background 1s ease-in-out;
}
a.btn.btn-default.active {
    background: green;
}

.auth2 .auth-box2 {
    /*background-color:#fff;*/
    max-width: 900px;
    margin:0 auto;
    border:1px solid rgba(255, 255, 255, 0.4);
    /*background-color: rgba(255, 255, 255, 0.2);*/
    background: rgba(255, 255, 255, 0.2);
    margin-top:40px;
    margin-bottom: 2em;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.32);
    -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.32);
    box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.32);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: background 1s ease-in-out;
    -moz-transition: background 1s ease-in-out;
    -ms-transition: background 1s ease-in-out;
    -o-transition: background 1s ease-in-out;
    transition: background 1s ease-in-out;
}
@media(max-width:460px) {
    .auth .auth-box {
        margin:0 10px;
    }
}

span.ss-choice-label {
    font-weight: 400;
}
.radio-inline.pull-right.required-message {
    font-weight: 300;
}
/* =========================================================================
                            Sponsor Table Data
   =======================================================================*/

.border-btm-1pxdottedBlack {
    border-bottom: 1px dotted black;
}
td {
    padding-right: 1em;
}
.border-btm-1pxsolidBlack {
    border-bottom: 1px solid black;
}
.margin-top-1em {
    margin-top: 1em;
}
/* =========================================================================
                            Sponsor Form
   =======================================================================*/
a.sponsor-tiers-btn {
     border: 1px solid;
     border-radius: .5em;
     padding: .2em .3em;
     padding-bottom: 0.3em;
     margin-left: 5em;
     color: white;
}
span.small-grey {
    font-size: 10pt;
    color: grey;
}
.auth .auth-box input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
    font-weight:300;
}
.auth .auth-box input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
    font-weight:300;
}
.auth .auth-box input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
    font-weight:300;
}
.auth .auth-box input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
    font-weight:300;
}

.auth2 .auth-box2 input::-webkit-input-placeholder { /* WebKit browsers */
    color: #fff;
    font-weight: 300;
}
.auth2 .auth-box2 input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff;
    font-weight: 300;
}
.auth2 .auth-box2 input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;
    font-weight: 300;
}
.auth2 .auth-box2 input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #fff;
    font-weight: 300;
}
.auth span.input-group-addon,
.input-group-btn button {
    border:none;
    background: #fff!important;
    color:#000!important;
}
.auth form {
    font-weight:300!important;
}
.auth form input[type="text"],
.auth form input[type="password"],
.auth form input[type="email"],
.auth form input[type="search"] {
    border:none;
    padding:10px 0 10px 0;
    background-color: rgba(255, 255, 255, 0)!important;
    background: rgba(255, 255, 255, 0);
    color: black;
    font-size:16px;
    border-bottom:1px dotted #fff;
    border-radius:0;
    box-shadow:none!important;
    height:auto;
}
.auth2 form input[type="text"],
.auth2 form input[type="password"],
.auth2 form input[type="email"],
.auth2 form input[type="search"] {
    border:none;
    /*padding:10px 0 10px 0;*/
    background-color: rgba(255, 255, 255, 0)!important;
    background: rgba(255, 255, 255, 0);
    color: #fff;
    font-size:16px;
    /*border-bottom:1px dotted #fff;*/
    border-radius:0;
    box-shadow:none!important;
    height:auto;
    font-size: 10pt;
    -webkit-flex: 1;
    margin-left: .4em;
}
textarea.ss-q-long::-webkit-input-placeholder {
   color: #fff;
}

textarea.ss-q-long:-moz-placeholder { /* Firefox 18- */
   color: #fff;
}

textarea.ss-q-long::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;
}

textarea.ss-q-long:-ms-input-placeholder {
   color: #fff;
}
.auth form input[type="text"].contact-border-bottom {
    border-bottom:1px dotted black;
}
.auth textarea {
    background-color: rgba(255, 255, 255, 0)!important;
    color: black!important;
    height: 6em;
}
.auth2 form input[type="text"].contact-border-bottom {
    border-bottom:1px dotted #fff;
}
.auth2 textarea {
    background-color: rgba(255, 255, 255, 0)!important;
    color: #fff!important;
    /*height: 6em;*/
}

.auth textarea.subject {
    height: 2em;
    padding-bottom: 1.8em;
    margin-bottom: 1em;
}

.auth input[type="file"] {
    color: black;
}
.auth form label {
    color: black;
    font-size:21px;
    font-weight:300;
}
/*for radios & checkbox labels*/
.auth .radio label,
.auth label.radio-inline,
.auth .checkbox label,
.auth label.checkbox-inline {
    font-size: 14px;
}

.auth2 .radio label,
.auth2 label.radio-inline,
.auth2 .checkbox label,
.auth2 label.checkbox-inline {
    font-size: 14px;
}

.auth form .help-block {
    color: black;
}
.auth form select {
    background-color: rgba(255, 255, 255, 0)!important;
    background: rgba(255, 255, 255, 0);
    color: black!important;
    border-bottom:1px solid #fff!important;
    border-radius:0;
    box-shadow:none;
}
.auth2 form select {
    background-color: rgba(255, 255, 255, 0)!important;
    background: rgba(255, 255, 255, 0);
    color: #fff!important;
    border-bottom:1px solid #fff!important;
    border-radius:0;
    box-shadow:none;
}
.auth form select option {
    color:#000;
}
/*multiple select*/
.auth select[multiple] option,
.auth select[size] {
    color:#fff!important;
}

/*Form buttons*/
.auth form .btn {
    background:none;
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -ms-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}
.auth form .btn-default {
    color: black;
    border-color: #adadad;
    border-radius: .3em;
}
.auth form .btn-default:hover {
    background:rgba(225, 225, 225, 0.3);
    color: #adadad;
    border-color: black;
}
.auth form .btn-primary:hover {
    background:rgba(66, 139, 202, 0.3);
}
.auth form .btn-success:hover {
    background:rgba(92, 184, 92, 0.3);
}
.auth form .btn-info :hover {
    background:rgba(91, 192, 222, 0.3);
}
.auth form .btn-warning:hover {
    background:rgba(240, 173, 78, 0.3);
}
.auth form .btn-danger:hover {
    background:rgba(217, 83, 79, 0.3);
}
.auth form .btn-link {
    border:none;
    color:#fff;
    padding-left:0;
}
.auth form .btn-link:hover {
    background:none;
}
.auth2 form .btn {
    background:none;
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -ms-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}
.auth2 .btn-default {
    background:rgba(225, 225, 225, 0.3);

    color:#fff;
    border-color:#fff;
}
.auth2 .btn-default:hover {
    background:rgba(225, 225, 225, 0.7);
    color:#fff;
    border-color:#fff;
}
.auth2 .btn-primary:hover {
    background:rgba(66, 139, 202, 0.3);
}
.auth2 .btn-success:hover {
    background:rgba(92, 184, 92, 0.3);
}
.auth2 .btn-info :hover {
    background:rgba(91, 192, 222, 0.3);
}
.auth2 .btn-warning:hover {
    background:rgba(240, 173, 78, 0.3);
}
.auth2 .btn-danger:hover {
    background:rgba(217, 83, 79, 0.3);
}
.auth2 .btn-link {
    border:none;
    color:#fff;
    padding-left:0;
}
.auth2 .btn-link:hover {
    background:none;
}


.auth label.label-floatlabel {
    font-weight: 300;
    font-size: 11px;
    color:#fff;
    left:0!important;
    top: 1px!important;
}

/* =========================================================================
                         Modal With Blur Effect
   =======================================================================*/
body.modal-open .contact-blur {
    -webkit-filter: blur(7px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}

.modal-backdrop {
    background: #f7f7f7;
}

.m-top-20 {
    margin: 20vh 20vw;
}

.m-top-10 {
    margin: 0vh 10vw;
}

.m-btm-1em {
    margin-bottom: 1em;
}

/* =========================================================================
                            Contact Form
   =======================================================================*/
/*   html, body {
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
   }*/
/*   a {
    text-decoration: underline;
   }*/
/*   a:hover {
    text-decoration: none;
   }*/
/*   .bg-red {
    background-image: url(../img/bg-red.jpg);
   }
   .bg-orange {
    background-image: url(../img/bg-orange.jpg);
   }
   .bg-yellow {
    background-image: url(../img/bg-yellow.jpg);
   }
   .bg-green {
    background-image: url(../img/bg-green.jpg);
   }
   .bg-cyan {
    background-image: url(../img/bg-cyan.jpg);
   }
   .bg-blue {
    background-image: url(../img/bg-blue.jpg);
   }
   .bg-purple {
    background-image: url(../img/bg-purple.jpg);
   }
   .bg-pink {
    background-image: url(../img/bg-pink.jpg);
   }
   .bg-black {
    background-image: url(../img/bg-black.jpg);
   }

   .body {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
   }
   .body-s {
    max-width: 400px;
   }
   .modal {
    padding: 25px 30px;
    background: rgba(255,255,255,0.9);
    font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
    color: #666;
   }
   .modal a {
    color: #2da5da;
   }
*/
/*   @media screen and (max-width: 600px) {
    .body {
        padding: 20px;
    }
   }*/

/* =========================================================================
                            Needs Sorting
   =======================================================================*/
.marg-top-20 {
   margin-top: 20vh;
}